body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.p0 {
    padding: 0;
}

.w80 {
    width: 80%;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    font-size: 40px;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    line-height: 50px;
}

@media (max-width: 1200px) {

    .h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

h3 {
    border-bottom: rgba(255, 255, 255, 0.593) solid 1px;
}

.contenedor {
    margin: 0 auto;
    max-width: 800px;
}

.nav_header {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.nav_header a {
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 5px;
    padding: 5px 10px;
    margin: 0 20px;
    border-radius: 10px;
    width: 100%;
    font-weight: 700;
    transition: background-color 1s ease, color 1s ease;
}

.nav_header a:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px;

}

.caja_presentacion {
    min-height: 20vh;
    margin-top: 35px;

}

#hola {
    font-size: 35px;
}

#presentacion {
    font-family: 'DM Serif Display', serif;
    padding: 30px 40px;
    padding-top: 35px;
    text-align: center;
    margin: 25px auto;
    max-width: 800px;
    font-size: 19px;
    box-shadow: 0px 0px 5px;
    border-radius: 20px;
    background-color: rgba(126, 124, 124, 0.306);
    opacity: 1;
}

@media (max-width: 850px) {
    #presentacion {
        width: 90%;
    }
}

.contacto {
    display: flex;
}

.bg-dark {
    background-color: #343a40;
    color: #fff;
}

.imagen {
    background-image: url(https://i.pinimg.com/564x/e0/6b/45/e06b45f3c18e67f54cee1e806e8b3886.jpg);
    width: 100%;
    max-width: 500px;
    min-height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    opacity: .7;
}


.boton {
    display: flex;
    justify-content: center;
}

.btn {
    font-weight: 800;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.499);
    border-color: rgba(255, 0, 0, 0.499);
}

/* FORMULARIO DE PROCESOS */
.contenedor_form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 25px 0;
}

.formulario {
    width: 100%;
    overflow: hidden;
}


.formulario form {
    display: flex;
    width: 300%;
}

.pagina {
    width: 33.3%;
    transition: margin-left 0.5s ease-in-out;
}

.paso_pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paso_pagina input {
    width: 100%;
    height: 100%;
    max-width: 660px;
    border-radius: 20px;
    padding-left: 15px;
}

.paso_pagina textarea {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin-left: 1px;
    padding-left: 15px;

}

@media (max-width: 600px) {

    input,
    textarea {
        width: 100%;
    }
}

input:focus,
textarea:focus {
    border-color: rgba(255, 0, 0, 0.499);
    box-shadow: 0px 1px 8px rgba(255, 0, 0, 0.498);
    outline: 0 none;
}

.campo_textarea {
    height: 100px !important;
}

.campo {
    height: 35px;
    width: 100%;
    margin: 15px 0;
    display: flex;
    position: relative;
    padding: 0 20px;
}

.btns {
    width: 100%;
}

.barra_progreso {
    display: flex !important;
    margin: 40px 0;
}

.paso {
    text-align: center;
    width: 100%;
    position: relative;
}

.paso p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
}

.num {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    transition: 0.3s;
}

.num.active {
    border-color: green;
    background-color: green;
}

.num span {
    font-weight: 500;
    font-size: 17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.num.active span {
    display: none;
}

.check {
    display: none !important;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.check.active {
    display: block !important;
}

.num::before,
.num::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 3px;
    bottom: 11px;
    right: -103px;
    background: #fff;
}

@media (max-width: 420px) {

    .num::before,
    .num::after {
        width: 90px;
        right: -98px;
    }
}

.paso:last-child .num::before,
.paso:last-child .num::after {
    display: none;
}

.num.active::after {
    background: green;
    animation: mov_Linea 0.5s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes mov_Linea {
    100% {
        transform: scaleX(1);
    }
}

.error {
    color: red;
    text-align: center;
    font-size: 25px;
    padding-top: 6px;
    padding-left: 3px;
}

.aviso-error {
    color: red;
}